<div class="cc-comment-wrapper">
	<div class="cc-comment-image-wrapper"> <!-- FLOAT RIGHT -->
		{{# blur_image}}
		<div class="blur-wrapper"><span class="blur">
		{{/ blur_image}}
		<img class="cc-comment-image" src="{{res_path}}/profile/{{image}}.png" alt="Profilbild" />
		{{# blur_image}}
		</span></div>
		{{/ blur_image}}
	</div>
	<div class="cc-comment">
		<div class="cc-comment-content">
			<span class="cc-comment-content-name">{{first_name}} <span class="blur-wrapper"><span class="blur">{{last_name}}</span></span></span>
			<span class="cc-comment-content-text">{{{content}}}</span>
		</div>
		<div class="cc-comment-like-bar">Gefällt mir <span class="cc-comment-like-bar-bullet">&bull;</span> Antworten</div>
		<div class="cc-answer-section">
			{{# answers}}
				{{> cc-answer}}
			{{/ answers}}
		</div>
	</div>
</div>