<div class="cc-header">
	<div class="cc-header-name-wrapper"> <!-- BRAUCHT NEN CLEARFIX -->
		<div class="cc-header-name-image-wrapper"> <!-- FLOAT RIGHT -->
			<img class="cc-post-picture" src="{{res_path}}/profile/dummy.png" alt="Profilbild" />
		</div>
		<div class="cc-header-name-firstline">
			<span class="cc-header-name-customer">{{first_name}} {{last_name}}</span>
			<img class="cc-header-arrow" src="{{res_path}}/icon_arrow.png" alt="icon_arrow"/>
			<span class="cc-header-name-company">{{company_name}}</span>
		</div>
	</div>
	<div class="cc-header-content">{{{content}}}</div>
	<div class="cc-header-like-bar-big"> <!-- BRAUCHT CLEARFIX -->
		<div class="cc-header-like-bar-big-button">
			<img class="cc-header-like-bar-big-image" src="{{res_path}}/like-bar/icon_like.png" alt="icon_like" />
			<span class="cc-header-like-bar-big-button-label">Gefällt mir</span>
		</div>
		<div class="cc-header-like-bar-big-button">
			<img class="cc-header-like-bar-big-image" src="{{res_path}}/like-bar/icon_comment.png" alt="icon_comment" />
			<span class="cc-header-like-bar-big-button-label">Kommentieren</span>
		</div>
		<div class="cc-header-like-bar-big-button">
			<img class="cc-header-like-bar-big-image" src="{{res_path}}/like-bar/icon_share.png" alt="icon_share" />
			<span class="cc-header-like-bar-big-button-label">Teilen</span>
		</div>
		<div class="cc-header-like-bar-big-dropdown">
			<span class="cc-header-like-bar-big-dropdown-label">Chronologisch</span>
			<img class="cc-header-like-bar-big-image" src="{{res_path}}/like-bar/icon_dropdown.png" alt="icon_dropdown" />
		</div>
	</div>
</div>