/* __________GLOBAL SETTINGS__________ */

body {
	font: 14px Helvetica;
	color: #1d2129;
	background-color: #ededed;
}


/* __________CURRENT TEST SETTINGS__________ */



/* __________CC POST TEMPLATE__________ */

.cc-post {
	background-color: white;
	width: 50%;
	margin: 0 auto;
	border-radius: 3px;
	border: 1px solid #d4d4d4;
}


/* __________CC HEADER TEMPLATE__________ */

.cc-header {
	margin-top: 12px;
	margin-left: 12px;
	margin-right: 12px;
}


/*		__________NAME AND IMAGE*/

.cc-header-name-wrapper {
}

.cc-post-picture {
	width: 40px;
	height:40px;
}

.cc-header-name-wrapper:after {
	clear: both;
	content: " ";
	display: block;
}

.cc-header-name-image-wrapper {
	float: left;
}

.cc-header-name-firstline {
	float: left;
	margin-left: 5px;
}

.cc-header-arrow {
	width: 8px;
	height: 9px;
	margin-top: 3px;
}

.cc-header-name-customer, .cc-header-name-company{
	vertical-align: top;
	color: #365899;
	font-size: 16px;
	font-weight: bold;
	font-style: 
}

.cc-header-name-company {
	vertical-align: top;
}


/*		__________CONTENT*/

.cc-header-content {
	margin-top: 11px;
}


/*		__________LIKE BAR*/

.cc-header-like-bar-big-image {
	width: 14px;
	height: 14px;
}

.cc-header-like-bar-big-image-dropdown {
	width: 9px;
	height: 9px;
	margin-top: 2px;
}

.cc-header-like-bar-big {
	margin-top: 15px;
	padding-top: 6px;
	padding-bottom: 5px;
	border-top: 1px solid #d4d4d4;
	padding-left: 3px;
	padding-right: 3px;
}

.cc-header-like-bar-big:after {
	clear: both;
	content: " ";
	display: block;
}

.cc-header-like-bar-big-button {
	margin-right: 20px;
	float: left;
}

.cc-header-like-bar-big-button:after {
	clear: both;
	display: block;
	content: " ";
}

.cc-header-like-bar-big-button-label {
    color: #7f7f7f;
    font-size: 12px;
    font-weight: bold;
    line-height: 14px;
    vertical-align: middle;
    display: block;
    float: right;
    margin-top: 1px;
    margin-left: 3px;
}

.cc-header-like-bar-big-dropdown-label {
    color: #7f7f7f;
    font-size: 12px;
    line-height: 12px;
    vertical-align: middle;
    display: block;
    float: left;
    margin-top: 1px;
    margin-right: 3px;
}

.cc-header-like-bar-big-dropdown {
	float: right;
}


/* __________CC COMMENT TEMPLATE__________ */

.cc-comment-image {
	width: 32px;
	height:32px;
}

.cc-comment-section {
	background-color: #f6f7f9;
	border-top: 1px solid #d4d4d4;
	padding: 8px;
}

.cc-comment-wrapper {
	background-color: gray;
	padding: 3px;
}

.cc-comment-wrapper:after{
	display: block;
	content: " ";
	clear: both;
}

.cc-comment-image-wrapper {
	float: left;
}

.cc-comment {
	float: left;
}

.cc-comment-content {
	min-height: 32px;
	margin-left: 8px;
}

.cc-comment-like-bar {
	margin-left: 8px;
}


/* __________CC ANSWER TEMPLATE__________ */

.cc-answer-image {
	width: 20px;
	height:20px;
}

.cc-answer-section {
	background-color: tomato;
	padding: 6px;
	border-left: 2px solid;
}

.cc-answer-wrapper {
	background-color: aliceblue;
}

.cc-answer-wrapper:after{
	display: block;
	content: " ";
	clear: both;
}

.cc-answer-image-wrapper {
	float: left;
}

.cc-answer {
	float: left;
}

.cc-answer-content {
	min-height: 24px;
}













